
.profile_main {
    width: 90em;
    height: 50em;
    border: 2px dashed blue;
    
}

.navigation_one {
    float: left;
    height: 50em;
    width: 20em;
    border: 2px solid red;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: lightgrey;
}

.section_top {
    height: 50%;
    width: 100%;
    border: 2px solid orange;
    }
    
    .section_bottom {
        height: 50%;
        width: 100%;
        border: 2px solid yellow;
    }

.div_form {
    border: 2px solid green;
    height: 40em;
}


